body {
    font-family: 'Montserrat';
    font-size: medium;
    margin: 0;
    padding: 0;
    background: white;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: calc(100vh - 1em);
    gap: 1em;
    padding-top: 1em;
    background: white;
}

#menu-list {
    width: calc(50vw - 1.5em);
    height: calc(100vh - 2em);
    background: linear-gradient(#1b00ff9c, #f000fd);
    border-radius: 1.2em;
}

#picked-list {
    width: calc(50vw - 1.5em);
    height: calc(100vh - 2em);
    background: linear-gradient(#1b00ff9c, #f000fd);
    border-radius: 1.2em;
}

.menu-card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background: white;  /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #d90404f0, yellow);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 7px 1px black;
}

#cart-title {
    color: white;
}

#menu-title {
    color: white;
}

.service-name {
    font-weight: bold;
    color: white;
}

.service-desc {
    color: Nunito;
}

.service-price {
    font-weight: bold;
}

h3 {
    padding-left: 5px;
}

.item-name {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.item-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

button {
    cursor: pointer;
}