body {
    font-family: 'Montserrat';
    font-size: medium;
    margin: 0;
    padding: 0;
    background: white;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: calc(100vh - 1em);
    gap: 1em;
    padding-top: 1em;
    background: black;;
}

#menu-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: auto;
    width: calc(50vw - 1.5em);
    height: calc(100vh - 2em);
    background: linear-gradient(#f000fd, #1b00ff9c);
    border-radius: 1.2em;
}

#picked-list {
    width: calc(50vw - 1.5em);
    height: calc(100vh - 2em);
    background: linear-gradient(#1b00ff9c, #f000fd);
    border-radius: 1.2em;
}

.menu-card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* background-image: linear-gradient(to left, #1b00ff9c, #f000fd); */
    background-image: linear-gradient(to left, rgb(248, 126, 235), rgb(156, 120, 248));
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 7px 1px black;
    cursor: pointer;
}

#cart-title {
    color: white;
}

#menu-title {
    color: white;
}

.service-name {
    font-weight: bold;
    color: black;
    padding: 5px;
    background-image: linear-gradient(45deg, #d90404f0, yellow);
    border-radius: 0 10px;
}

.service-desc {
    font-family: Nunito;
}

.service-price {
    font-weight: bold;
    color: white;
}

h3 {
    padding-left: 5px;
}

.item-name {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.item-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0.3em;
}

button {
    cursor: pointer;
    color: white;
    background: darkmagenta;
    border: none;
    box-shadow: 1px 1px 5px 1px black;
}

div::-webkit-scrollbar {
    width: 12px;
}